@charset "UTF-8";
@font-face {
    font-family: 'Jal_Haru';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.0/Jal_Haru.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HakgyoansimBombanghakR';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/HakgyoansimBombanghakR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KHNPHU';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KHNPHU.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0; padding:0; box-sizing:border-box; font-size:1rem;    font-family: 'Jal_Haru';}

body{font-size:16px; line-height:1.2;}
header, footer{text-align:center;}


footer{border-top: 1px solid #eee;padding:60px 0;}
 img{display:block;}
button, strong, input, i, span{vertical-align:middle; display:inline-block;} 
a{text-decoration:none; color:#222;}
ul, li{list-style:none;}
button{cursor:pointer;}
input, textrea{outline:none;}